<div class="container col-sm-6">
  <div
    *ngIf="alert"
    [class]="alertClass + ' alert-dismissible fade show'"
    role="alert"
  >
    <strong
      >{{ alertClass.includes("success") ? "Success!" : "Oops!" }}
    </strong>
    {{ successMessage || errorMessage }}.
    <button
      (click)="closeAlert()"
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</div>
<div class="container">
  <div class="container col-6">
    <form
      class="border p-3 rounded"
      [formGroup]="expenseForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="col text-center p-2 bg-light">
        <span class="fs-3 card-title">Add Expense</span>
      </div>
      <!-- <h3 class="card-title text-center">Add Expense</h3> -->
      <!-- <div class="line"></div> -->

      <div class="row">
        <div class="form-group mb-4">
          <input
            formControlName="expenseTitle"
            type="text"
            placeholder="Title"
            class="form-control title"
          />

          <div
            class="form-text text-danger"
            *ngIf="ExpenseTitle.errors?.['required'] && (ExpenseTitle.touched || ExpenseTitle.dirty)"
          >
            Expense Title is required
          </div>
        </div>

        <div class="row mb-3" *ngFor="let group of groupDetails">
          <div *ngFor="let member of group.groupMembers" class="form-check">
            <div class="row mb-3">
              <div class="col-6">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="checkbox-{{ member.name }}"
                  placeholder="Checkbox"
                  checked
                />

                <input
                  type="text"
                  class="form-control"
                  value="{{ member.name | capitalizeFirstLetter }}"
                  [disabled]="true"
                  placeholder="Name"
                />
              </div>

              <div class="col-6">
                <div class="form-group">
                  <input
                    formControlName="expenseAmount"
                    type="number"
                    placeholder="Amount"
                    class="form-control"
                    [id]="'inputAmount-' + member.name"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="d-grid">
            <button class="btn btn-primary btn-sm" type="submit">
              Add Expense
            </button>
          </div>
        </div>
        <div class="col-6">
          <div class="d-grid">
            <a
              routerLink="/group/expense/{{ groupId }}"
              class="btn btn-secondary btn-sm"
              type="submit"
              >Back</a
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
