html,
body {
  height: 100%;
}

.global-container {
  height: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert {
  margin-bottom: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 20px;
}

.card-title {
  font-weight: 300;
  letter-spacing: 5px;
}

.btn {
  font-size: 14px;
  margin-top: 20px;
}

.login-form {
  width: 330px;
}

.sign-up {
  text-align: center;
  padding: 20px 0 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.line {
  border-top: 1px solid rgba(30, 28, 28, 0.205);
}

p {
  margin-bottom: 0;
}

.signUp a {
  text-decoration: none;
  cursor: help;
}

#other-options {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  .line {
    width: 30%;
    height: 2px;
    background-color: #d8d8d9;
    margin-top: 0.6rem;
  }
  #continue-with {
    color: #9599ab;
  }
}
